.flagBtn {
  border: 0;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  background-color: #fff;
}

.flagBtn:hover {
  opacity: 0.6;
  box-shadow: 20px;
}

.flagBtnSelected {
  opacity: 0.4;
}

.flagIcoBtn {
  width: 30px;
  height: 20px;
  padding: 2px;
}

.flagIcoBtn2 {
  margin-top: -10px;
  height: 35px;
  background-color: #077844;
}


.counter {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  letter-spacing: 5px;
  font-family: 'Grape Nuts', cursive;
}