.box {
  width: 25px;
  height: 25px;
  margin: 0;
  text-align: center;
  color: #f0f0f0;
  cursor: pointer;
}

.box:hover {
  opacity: 0.8;
}

.boxImg {
  width: 25px;
  height: 25px;
  background-image: none;
  background-color: #66a347;
}

.boxDisable {
  width: 25px;
  height: 25px;
  margin: 0;
  text-align: center;
  color: #f0f0f0;
  background-color: #66a347;
  cursor: default;
}

.boxDisableEven {
  background-color: #729362;
}

.mine {
  background-color: red;
}

.free-zone {
  background-color: aquamarine;
}

.range {
  background-color: bisque;
}

/* p {
  margin: 0;
} */

.range-0 { background-color:#66a347; }
.range-0-even { background-color:#729362; }
.range-1 { background-color:#641E16; }
.range-2 { background-color:#2b003c; }
.range-3 { background-color:#154360; }
.range-4 { background-color:#0E6251; }
.range-5 { background-color:#7D6608; }
.range-6 { background-color:#17202A; }
.range-7 { background-color:#6E2C00; }
.range-8 { background-color:#626567; }